/* General */
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  text-decoration: none;
  color: #930D1A;
}

a:hover {
  color: #930D1A;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #49b5e7;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6dc4ec;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/* Header */
.heading{
  position: relative;
  text-transform: uppercase;
  display: inline-block; 
  margin-bottom: 40px;
  font-weight: 800;
}


.heading:after {
  content: "";
  position: absolute;
  left: 50%; 
  bottom: -10px;
  height: 3px;
  width: 70px;
  background: #1474B5;
  transform: translateX(-50%); 
}
#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05);
}

#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
}

#header .logo a {
  color: #0f394c;
}

#header .logo img {
  max-height: 40px;
}

/* Navigation Menu */
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Dosis", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #000;
  white-space: nowrap;
  transition: 0.3s;
  text-transform: uppercase;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #930D1A;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  font-weight: 500;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #930D1A;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #0f394c;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #29AAC2;
  /* background: rgba(7, 25, 33, 0.9); */
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #000;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #930D1A;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  background: #49b5e7;
  /*background-image: linear-gradient(to right,#24B3C3,#1375B7,#0F619D, #F8880C);  */
  padding: 8px 25px;
  margin-left: 20px;
  border-radius: 4px;
  font-weight: 800;
  width: 120px;
  color: #fff;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #25b2c4;
  /*background-image: linear-gradient(#24B3C3,#1375B7,#0F619D, #F8880C);  */
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #930D1A;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*Breadcrumbs*/
.breadcrumbs {
  padding: 15px 0;
  background: #49b5e7;
  margin-top: 84px;
  color: #fff;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 74px;
  }
}

.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}
.breadcrumbs ol li a {
  color: #fff;
}


.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #fff;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}



/* Slider COntrols*/
.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
    background-color: #888585;
    border: 15px solid #888585;
    border-radius: 50px;
}
#section2{
  background-image:url('../img/backgrounds/section-2-back.jpg'); 
  background-size: cover;
  background-position: center;
}
#section2 h2{
  color: rgb(248,136,12);
  font-size: 1.8em;
}

#section2 p{
  color: #fff;
  font-size: 1.2325em;
  line-height: 1.4em;
}
#section2 .choice{
  margin-top:160px;
  margin-bottom:160px;
}

#section3 .design{
  margin-top:60px;
  margin-bottom:60px;
  text-align: center;;
}

#section4 .enchance{
  margin-top:60px;
  margin-bottom:60px;
  text-align: center;;
}

@media (min-width: 1440px) { 
  #section2{
  background-size:cover;
  background-position: top;
  }
  
  #section3 .design{
    margin-top:160px;
    margin-bottom:160px;
    text-align: right;
  }

  #section4 .enchance{
    margin-top:120px;
    margin-bottom:122px;
    text-align: left;
  }
  
  
  
}

.carddeck{
  padding: 10px;
  margin-right: 20px;
}
/* Why KL */
.mycard1{  
    width:100%;
    background-color:gray;  
    margin: 10px;       
    padding: 10px;
    text-align: center;    
}
.mycard1 h2{  
  font-size: 21px;
  line-height: 23px;
  font-weight: bold;
  color: #000;  
}
@media (min-width: 1440px) { 
  
  .mycard1{  
    width:100%;
    background-color:gray;  
    margin: 10px;   
    padding: 20px;
    min-height: 207px;
    text-align: left;
  }
}

.faq h2{
  
  font-weight: bold;
}
.faq h4{
  font-weight: bold;
  font-size: 18px;
}

.mycard1-one{
 background-color: #24B3C3;
}
.mycard1-two{
  background-color:#E5E5E5;
}
.mycard1-three{
  background-color:#E5E5E5;
}
.mycard1-four{
  background-color:#1375B7;
  color: #fff;
}
.mycard1-five{
  background-color:#F8880C;
}
.mycard1-six{
  background-color:#E5E5E5;
}
.ourprogramses{  
  /* background-image: linear-gradient(#24B3C3,#1375B7,#0F619D, #F8880C);   */
  padding-top: 50px;
  padding-bottom: 50px;    
  color: #fff;
}

.ourprograms{  
    background-image: linear-gradient(#24B3C3,#1375B7,#0F619D, #F8880C);  
    padding-top: 50px;
    padding-bottom: 50px;    
    color: #fff;
}

.ourprograms .box{  
  background-image: linear-gradient(105deg,rgba(255, 255, 255, 0.4),rgba(255, 255, 255, 0.05));    
  border: 1px solid rgba(255, 255, 255, 1);  
  color: #fff;
  font-size: 20px;
  line-height: 34px;
  padding: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}
.ourprogramses .boxes{  
   background-image: linear-gradient(105deg,rgba(255, 255, 255, 0.4),rgba(255, 255, 255, 0.05));    
  border: 1px solid rgba(255, 255, 255, 1);  
  color: #fff;
  font-size: 20px;
  line-height: 34px;
  padding: 30px;
  font-weight: normal;
  margin-bottom: 15px;
  text-align: justify;
}
.ourprograms .text-adjust{  
  text-align: center;
}
@media (min-width: 1440px) {   
  .ourprograms .text-adjust{  
    text-align: left;
  }
}

/* Apply Now*/
.applynow{
  background-image:url('../img/backgrounds/apply-now-back.jpg'); 
  background-size:cover;
  background-position: center;
}

.applynow h4{
  color: #F8880C;

  text-align: center;
  font-size: 40px;
  font-weight: bold;
}


/* Beyond Section */
.beyond-text{
  padding-left: 40px;;
}
.beyond .beyond-text h2{
  font-weight: bold;  
}
.beyond .beyond-text p span{
  font-size: 26px;;
  font-weight: bold;
}
.beyond .colored-text{  
  font-weight: bold;
  font-size: 20px;
  padding: 10px 40px;
  line-height: 30px;
  color: #fff;
}
.beyond .colored-text-01{
  background-color: #F8880C;  
  color: #000;
}
.beyond .colored-text-02{
  background-color: #0F619D;    
}
.beyond .colored-text-03{
  background-color: #1375B7;  
}
.beyond .colored-text-04{
  background-color: #24B3C3;  
}
.beyond .partner-univ{
  background-image:url('../img/backgrounds/beyond.jpg'); 
  background-repeat: no-repeat;   
  background-position: center;
  padding: 20px 40px;
  color:#fff;
}

.beyond .partner-univ .partner-univ-card{
  margin-bottom: 20px;
  background:#fff;
  opacity: 70%;
}
.beyond .partner-univ h2{
  font-weight: bold;
  font-size: 20px;
}

/* Hooby club */


.hobby h2{
  color: #F8880C;
  padding-top: 20px;
  padding-bottom: 30px;

}
.hobby p{
  /* line-height: 40px; */
  color: #fff;
  padding-top: 20px;
  padding-bottom: 30px;

}


/*bba*/

.programmebba{
  background-image: linear-gradient(to right,#24B3C3,#1375B7,#0F619D, #F8880C);  
    padding-top: 60px;
    padding-bottom: 70px;    
    color: #fff;
}

.programmebba h2{
  color: #fff;
  /* padding-top: 20px;
  padding-bottom: 30px; */
  font-weight: bold;
}


.programmebba p{
  color: #fff;
  padding-top: 20px;
  padding-bottom: 30px;
}

.syllabus ul{
  font-weight: bold;
  --icon-space: 2.2em;
 
  padding: 0;
}

.syllabus ul:before{
  content: "\f111"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline;
  font-size: xx-large;
  color: #49b5e7;
  opacity: 50%;
  margin-right: calc( var(--icon-space) * -0.18);
  width: var(--icon-space);
} 

/* .syllabus ul:before{
  background-image: url(../img/Ellipse-33.png);
} */

.syllabus li{
  --icon-space: 1em;
  list-style: none;  
  padding: 0;
}

/*programs*/

.programme{
  background-image: linear-gradient(to right,#24B3C3,#1375B7,#0F619D, #F8880C);  
    padding-top: 60px;
    padding-bottom: 70px;    
    color: #fff;
}

.programme h2{
  color: #F8880C;
  padding-top: 20px;
  padding-bottom: 30px;
  font-weight: bold;
}


.programme p{
  color: #fff;
  padding-top: 20px;
  padding-bottom: 30px;
}

.mba-spec-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, .07);
  border: 1px solid transparent;
  transition: .5s;
}

.mba-spec-item:hover {
  margin-top: -10px;
  box-shadow: none;
  border: 1px solid #DEE2E6;
}

/* Spark */
.spark .spark-gradiant{
  background-image: linear-gradient(#24B3C3,#1375B7,#0F619D, #F8880C);  
    padding-top: 60px;
    padding-bottom: 70px;    
    color: #fff;
}

.spark .spark-gradiant h2{
  font-weight: bold;
  text-align: right;
  padding: 40px 20px;
}

.spark .spark-gradiant p{  
  text-align: right;
  padding: 40px 20px;
}

.section-6-back {
  background-image:url('../../assets/img/backgrounds/Mask-Group-4.jpg'); 
  background-repeat: no-repeat;  
  background-position: center;
}

.section-6-back h2{
  color: #F8880C;
 
  text-align: center;
  font-size: 80px;
  font-weight: bold;
}

.section-6-back h4{
  color: #F8880C;

  text-align: center;
  font-size: 45px;
  font-weight: bold;
}

.section-6-back p {
  color: #fff;

  text-align: center;
  font-size: 21px;

}


.section-6-card p span{
 
 
  text-align: center;
  font-size: 24px;
  font-weight: bold;
 
}


.section-6-card{ 
  /* margin-bottom: 30px; */
}
.section-6-card img{ 
  color: #fff;
  text-align: center;
    font-size: 1em;
    line-height: 3em;
    font-weight: bold;
    z-index: 4;
    height: 200px;
    width: 100%;
}

.section-6-card p{ 
  color: #fff;
  text-align: center;
    font-size: 1em;
    line-height: 3em;
    font-weight: bold;
}

.section-6-card h6{ 
  color: #fff;
  text-align: justify;   
  font-weight: bold;
}

.section-6-card .mybar{ 
    height: 10px;    
    width: 50%;
    margin: auto 25%;
    margin-top: -5px;
    z-index: 2;
}

.mybar-one{   
  background-color: #24B3C3;    
}

.mybar-two{   
  background-color: #1375B7;    
}

.mybar-three{   
  background-color: #0F619D;    
}

/* Internship two column Lists */
.internship ul{
  columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
}

.internship ul {
  --icon-space: 1.3em;
  list-style: none;  
  padding: 0;
}

.internship li {
  padding-left: var(--icon-space);  
  line-height: 24px;  
  margin: 10px 0px;
}

.internship li:before {
  content: "\f14a"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  color: #49b5e7;
  margin-left: calc( var(--icon-space) * -1 );
  width: var(--icon-space);
}

@media (min-width: 1440px) {   
  .internship ul{
    columns: 2;
          -webkit-columns: 2;
          -moz-columns: 2;
  }
}



.crt-training ul {
  --icon-space: 1.3em;
  list-style: none;  
  padding: 0;
}

.crt-training li {
  padding-left: var(--icon-space);  
  line-height: 24px;  
  margin: 10px 0px;
}

.crt-training li:before {
  content: "\f14a"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  color: #49b5e7;
  margin-left: calc( var(--icon-space) * -1 );
  width: var(--icon-space);
}

/*** Team ***/
.team-item img {
  transition: .5s;
}

.team-item:hover img {
  transform: scale(1.1);
}

/*Footer */
#footer {
  background: #fff;
  background-image: linear-gradient(#24B3C3,#1375B7,#0F619D, #F8880C) !important;  
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
  background: #ebf7fc;
  height: 100%;
}

#footer .footer-newsletter {
  padding: 50px 0;
  background: #f0f9fd;
  text-align: center;
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  color: #0f394c;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
}

#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #49b5e7;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type=submit]:hover {
  background: #1da2e0;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  color: #fff;
  /*background: #fff;*/
  
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Lato", sans-serif;
  color: #fff;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #49b5e7;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a{
  color:#fff;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #49b5e7;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #49b5e7;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #1da2e0;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {  
  color: #fff;
  text-align: center;
}



@media (max-width: 575px) {
 

  #footer .copyright,
  #footer .credits {
    float: none;
    text-align: center;
  }
  .banner-text-p{
    background: #fff;
  }
  .banner-text-img{
    background:#C7C7C7;
  }

  .semahead h2{
    text-align: center;
  }
  .semahead p{
    text-align: center;
  }

  .Internationalism h2{
    text-align: center;
  }

  .Internationalism p{
    text-align: center;
  }

  .globalskill h2{
    text-align: center !important;
  }

  .globalskill p{
    text-align: center !important;
  }

  .hitech h2{
    text-align: center;
  }

  .hitech p{
    text-align: center;
  }

  .worldclass h2{
    text-align: center;
  }

  .worldclass p{
    text-align: center;
  }

  .entrepreneurship h2{
    text-align: center !important;
  }

  .entrepreneurship p{
    text-align: center !important;
  }
}

#banner-choose{
  background: #C7C7C7;
}
.semahead{
   background-image: url(/assets/img/side-images/semahead.png); 
  /* opacity: 75%; */
   /* background: #fff; */
  padding: 50px;
  /* background-position: fill; */
  /* margin: 20px; */
}

.semahead h2{
  color: #F8880C;
  font-weight: bold;
}
.semahead p{
  color : #fff;
}


.Internationalism{
  /* background-image: url(/../gbs/assets/img/side-images/Mask-Group-18.png);  */
background-color: #000;
 /* opacity: 75%; */
  /* background: #fff; */
 padding: 50px;
 /* background-position: center; */
}

.Internationalism h2{
 color: #F8880C;
 font-weight: bold;
}
.Internationalism p{
 color : #fff;
}

.globalskill{
  background-image: url(/assets/img/side-images/Mask-Group-17.png); 
 /* opacity: 75%; */
  /* background: #fff; */
 padding: 50px;
 /* background-position: center; */
}

.globalskill h2{
 color: #F8880C;
 font-weight: bold;
 text-align: left;
}
.globalskill p{
 color : #fff;
 text-align: justify;
}



.hitech{
  background-image: url(/assets/img/side-images/Mask-Group-21.png); 
 /* opacity: 75%; */
  /* background: #fff; */
 padding: 50px;
 /* background-position: fill; */
 /* margin: 20px; */
}

.hitech h2{
 color: #F8880C;
 font-weight: bold;
}
.hitech p{
 color : #fff;
}

.worldclass{
 /* background-image: url(/../gbs/assets/img/side-images/Mask-Group-18.png);  */
background-color: #000;
/* opacity: 75%; */
 /* background: #fff; */
padding: 50px;
/* background-position: center; */
}

.worldclass h2{
color: #F8880C;
font-weight: bold;
}
.worldclass p{
color : #fff;
}

.entrepreneurship{
 background-image: url(/assets/img/side-images/Mask-Group-19.png); 
/* opacity: 75%; */
 /* background: #fff; */
padding: 50px;
/* background-position: center; */
}

.entrepreneurship h2{
color: #F8880C;
font-weight: bold;
text-align: justify;
}
.entrepreneurship p{
color : #fff;
text-align: justify;
}

.modulebba1{
background-color: #d9d9d9;
}

.modulebba1 h2{
  color: #000;
  font-weight: bold;
  text-transform: uppercase;

}


/* .sixreasons{
  #817f7b
  background-color: #fff;
  border-radius: 20%;
  padding : 10px 20px 10px 20px;
  margin: 20px;
} */

/* 
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: red;
} */

.modulebba1 tr:nth-child(odd) {
    background-color: #f5f5f5;
    }

.modulebba1 tr:nth-child(even) {
    background-color: #fff;
    }

    .modulebba1 th{
       background-color: #fff;
    }

    .modulebba2{

      position: relative;
      }

      .modulebba2 h2{
        color: #000;
        font-weight: bold;
        text-transform: uppercase;
      
      }
      
    .modulebba2 tr:nth-child(odd) {
      background-color: #f5f5f5;
      }
  
  .modulebba2 tr:nth-child(even) {
      background-color: #fff;
      }
  
      .modulebba2 th{
         background-color: #fff;
      }


      .modulebba2::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 45.51%;
        bottom: 0;
        left: 0;
        background: linear-gradient(#d9d9d9,#d9d9d9);
        z-index: -1;
    }

    @media only screen and (max-width: 768px){
      

      .formdiv {
        position:relative;
        margin-top:10px;
        right:0px;
        }
    
        #form-container {
          background: #fff;
             border-radius: 10px;
             padding-top: 10px;
           width:370px;
           margin:10px auto;
          }
        }
        
        
        .formdiv {
          top:7%;
          position:absolute;
          overflow:hidden;
          right:3.5%;
          height: auto;
          width: 380px;
          max-width:100%;
        
        }

        .formdiv {
          padding:15px;
          margin: 0px auto!important;
        }

        .mobile-form .formdiv {
          width:100%!important;
        }

        .formdiv.aos-init.aos-animate {
          width: 350px;
        }


        #form-container{
          background-color: #fff;
          padding: 10px 0px;
          border-radius: 10px;
        }


        .form-container {
          background: #fff;
            width: 356px;
        }

        h3.underline2 {
          padding: 10px 20px 0px;
          margin-bottom: 0px;
          font-size: 20px;
          font-weight: bold;
        }

        .bannertext {

          position: absolute;
          top: 40%;
          left: 6%;
      }

      .bannertext h2 {
          color: #0e619d;
          text-transform: uppercase;
          font-family: impact, sans-serif;
          margin-top: -100px;
      }

      .bannertext p {
          font-family: 'Montserrat', sans-serif;
          font-weight: bold;
          color: #000;
      }
     

      

      @media (min-width: 326px) {
    

          .bannertext h2 {
              font-size: 22px;
          }

          .bannertext {

              top: 35%;
          }

          .bannertext p {


              font-size: 8px;

          }
          .page-bg{
            height: 15vh;  
          }

      }


      @media (min-width: 576px) {

          .bannertext h2 {
              font-size: 40px;
              margin-top: -50px;
          }

          .bannertext {

              top: 40%;
          }

          .bannertext p {


              font-size: 12px;

          }
          .page-bg{
            height: 20vh;  
          }

      }

      @media (min-width: 768px) {
        .page-bg{
          height: 20vh;  
        }

          .bannertext h2 {
              font-size: 50px;
              margin-top: -50px;
          }

          .bannertext {

              top: 56%;
          }

          .bannertext p {


              font-size: 16px;

          }

      }

      @media (min-width: 994px) {
          .bannertext h2 {
              font-size: 70px;
              
          }

          .bannertext {

              top: 44%;
          }

          .bannertext p {


              font-size: 20px;

          }
          .page-bg{
            height: 45vh;  
          }

      }

      @media (min-width: 1200px) {
          .bannertext h2 {
              font-size: 90px;
          }

          .bannertext p {


              font-size: 26px;

          }

          .bannertext {

              top: 40%;
          }
          .page-bg{
            height: 45vh;
    
          }

      }

      @media (min-width: 1400px) {

          .bannertext h2 {
              font-size: 100px;
          }

          .bannertext p {

            
              font-size: 32px;

          }

          .bannertext {

              top: 40%;
          }
          .page-bg{
            height: 50vh;
    
          }


      }

      
        
  